<header-xo>
    <logo-x>
        AnimeKeyo
    </logo-x>
    <menu-btns>
        <btns-x>
            Home
        </btns-x>
        <btns-x>
            Trending
        </btns-x>
        <btns-x>
            Following
        </btns-x>
        <btns-x>
            Rules
        </btns-x>
    </menu-btns>
    <search-bar>
        <input type="search" placeholder="Find something you want">
    </search-bar>
    <profile-options>

        <profile-imgo-menu id="mainuserprofilepicid">

        </profile-imgo-menu>
        <notify-x>
            1
        </notify-x>
    </profile-options>
    <script>
        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
                // User is signed in, see docs for a list of available properties
                // https://firebase.google.com/docs/reference/js/firebase.User
                var user_id = user.uid;
                var db_ref = firebase.database().ref('/data/users/' + user_id);
                db_ref.on('value', function(snapshot) {
                    var displayName = (snapshot.val() && snapshot.val().displayName);
                    var profile_picture = (snapshot.val() && snapshot.val().profile_picture);
                    var banner = (snapshot.val() && snapshot.val().banner);
                    var bio = (snapshot.val() && snapshot.val().bio);
                    var onlineState = (snapshot.val() && snapshot.val().onlineState);
                    if (onlineState == true) {
                        $('[id=statuso]').css('background-color', 'var(--c19)');
                        $('[id=statuosx]').text('Online');
                    } else {
                        $('[id=statuso]').css('background-color', 'var(--c11)');
                        $('[id=statuosx]').text('Offline');
                    };
                    $("[id=maindisplayNameval]").text(displayName);
                    $('[id=mainuserprofilebannerid]').css('background-image', 'url(' + banner + '),url(https://animekeyo.com/images/716375.png)');
                    $('[id=mainuserprofilepicid]').css('background-image', 'url(' + profile_picture + '),url(https://animekeyo.com/anipedia/icons/icon.png)');
                    // ...
                });
                $('profile-imgo-menu').click(function() {
                    var link = "/user?id=" + user_id;
                    window.location.href = link;
                });

            } else {}

        });
    </script>
</header-xo>