@media (max-width:550px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    non.banner-home {
        width: 60vw;
        padding: 15vw 20vw;
        height: 20vw;
        grid-template-columns: 20vw 40vw;
    }
    non.bt-moa {
        border-radius: 3vw;
    }
    non non.bt-moa img {
        margin: 1.4vw 2vw 2vw 2vw;
    }
    non.bt-mob {
        margin-left: 2vw;
        border-radius: 3vw;
    }
    non.bt-mob non {
        padding: 2vw;
        margin: 1.5vw;
        width: 31vw;
        font-size: 7vw;
    }
    non.bt-mob non.mmo nonee {
        font-size: 4vw;
    }
    non.main-ttx {
        grid-template-columns: 90vw;
        font-size: 5vw;
        padding: 5vw;
    }
    non.bt-gg {
        padding: 3vw;
        margin-bottom: 1vw;
    }
    non.ddkoi {
        font-size: 7vw;
    }
    non.mko-btn {
        grid-template-columns: 15vw 69vw;
        border-radius: 2vw;
    }
    non.mko-btn img {
        width: 10vw;
        margin-left: 5vw;
    }
    non.mko-btn.google img {
        width: 7vw;
        padding: 0.5vw;
        margin: 1vw;
        margin-left: 6.5vw;
        border-radius: 100vw;
    }
    non.mko-btn non {
        margin: 2.5vw 5vw;
    }
}