@media (min-width:961px) {
    /**/
    non.login-page {
        margin: 0vw 35vw;
        float: left;
        width: -webkit-fill-available;
        overflow: hidden;
    }
    non.banner-home {
        width: 23vw;
        float: left;
        padding: 2vw 3vw;
        height: 7vw;
        grid-template-columns: 7vw 16vw;
    }
    non.bt-moa {
        border-radius: 1vw;
        -webkit-border-radius: ;
        -moz-border-radius: ;
        -ms-border-radius: ;
        -o-border-radius: ;
    }
    non non.bt-moa img {
        margin: 1vw 1vw 1vw;
    }
    non.bt-mob {
        width: auto;
        margin-left: 1vw;
        height: auto;
        border-radius: 1vw;
    }
    non.bt-mob non {
        padding: 1vw;
        margin: 0.1vw;
        width: 12.8vw;
        font-size: 2.5vw;
    }
    non.bt-mob non.mmo nonee {
        font-size: 1.5vw;
    }
    non.main-ttx {
        grid-template-columns: 27vw;
        font-size: 1.5vw;
        padding: 1vw;
    }
    non.bt-gg {
        padding: 1vw;
    }
    non.ddkoi {
        font-size: 2vw;
    }
    non.mko-btn {
        grid-template-columns: 5vw 20vw;
        border-radius: 0.5vw;
        margin-bottom: 1vw;
    }
    non.mko-btn img {
        width: 3vw;
        margin-left: 2vw;
    }
    non.mko-btn non {
        margin: 0.5vw 1vw;
    }
    non.mko-btn.google img {
        width: 2vw;
        padding: 0.3vw;
        margin-left: 2.2vw;
        border-radius: 100vw;
    }
}